.game {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
}

.card,
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.score-display {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 30px;
}
