.game {
  width: 100%;
}

.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  padding: 10px;
}

.card,
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-screen {
  margin-top: 50px;
}

.card {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  opacity: 0.8;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
  cursor: pointer;
  transition: scale 0.1s;
}

.card:hover {
  scale: 1.05;
}

.game-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.score-display {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
}

.back-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  background-color: var(--danger);
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;
}
