.instructions {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px black solid;
  max-width: 70%;
}

.instructions h2 {
  font-size: 1.6rem;
  text-align: center;
}

.instructions li {
  font-size: 1.2rem;
}

.instructions li::marker {
  content: '>';
}

.instructions-controls {
  display: flex;
  justify-content: flex-end;
}

.back-button {
  padding: 8px;
  background-color: var(--danger);
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;
  width: 100%;
}
