*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: unset;
}

@font-face {
  font-family: Pixel;
  src: url(./assets/pixel-font.ttf);
}

:root {
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  font-family: Pixel, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  background-image: -webkit-image-set(
    url('./assets/background.jpg') 1x,
    url('./assets/background-large.jpg') 2x
  );
  background-image: image-set(
    url('./assets/background.jpg') 1x,
    url('./assets/background-large.jpg') 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* only for development */
  /* background-color: #222;
  color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
